.btn {
	padding: 10px 40px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	border: 0;
	background-color: hsl(220, 34%, 58%);
	color: hsl(255, 100%, 100%);
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	line-height: 1.25em;
	letter-spacing: 0.03em;
	transition: background-color 0.25s ease;

	&.dark {
		&:hover,
		&:focus,
		&:active,
        &.active {
            background-color: hsl(219, 55%, 60%);
        }
	}
}