.checkers-board .checkers-board__square {
    width: 12.5%;
    height: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    pointer-events: none;
    box-sizing: border-box;
    border: 1px solid hsl(0, 0%, 0%);
    transition: 0.25s ease background-color;
}

.checkers-board .checkers-board__square.dark {
    cursor: pointer;
    pointer-events: unset;
}

.checkers-board .checkers-board__figure-wrap {
    position: relative;
    padding: 5px;
    overflow: hidden;
}

.checkers-board .checkers-board__figure {
    position: relative;
}

.checkers-board .checkers-board__figure-wrap.is-dame {
    position: relative;
}

.checkers-board .checkers-board__figure-wrap.is-dame::after {
    display: block;
    position: absolute;
    top: 15%;
    left: 15%;
    content: '';
    width: 70%;
    height: 70%;
    background-image: url('/src/assets/metal-crown.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.checkers-board .checkers-board__figure-wrap.is-dame .checkers-board__figure {
    opacity: 0.9;
}

.checkers-board .checkers-board__square.available-for-selection {
    background-color: hsl(209, 30%, 26%);
}

.checkers-board .checkers-board__square.available-for-selection:hover,
.checkers-board .checkers-board__square.available-for-selection:hover,
.checkers-board .checkers-board__square.available-for-selection:active {
    background-color: hsl(219, 55%, 60%);
}

.checkers-board .checkers-board__square.available-for-moving {
    background-color: hsl(55, 35%, 74%);
}

.checkers-board .checkers-board__square.available-for-moving:hover,
.checkers-board .checkers-board__square.available-for-moving:hover,
.checkers-board .checkers-board__square.available-for-moving:active {
    background-color: hsl(55, 28%, 83%);
}

.checkers-board .checkers-board__square.available-for-moving.selected {
    background-color: hsl(160, 71%, 41%);
}

.checkers-board .checkers-board__square.is-dame {
    cursor: pointer;
}

/* Iphone XR */
@media only screen and (max-width : 414px) {
    .checkers-board .checkers-board__figure-wrap {
        padding: 2px;
    }
}