.checkers-board .checkers-board__square {
    width: 12.5%;
    height: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    pointer-events: none;
    box-sizing: border-box;
    border: 1px solid hsl(0, 0%, 0%);
    transition: border-color 0.25s ease, background-color 0.25s ease;
}

.checkers-board .checkers-board__square.dark.available-for-moving,
.checkers-board .checkers-board__square.dark.available-for-selection {
    cursor: pointer;
    pointer-events: unset;
}

.checkers-board .checkers-board__figure {
    position: relative;
    padding: 5px;
    overflow: hidden;
}

.checkers-board .checkers-board__figure .figure__icon {
    position: relative;
}

.checkers-board .checkers-board__square.available-for-selection, 
.checkers-board .checkers-board__square.highlighted {
    border-color: hsl(160, 71%, 41%);
    border-width: 2px;
}

.checkers-board .checkers-board__square.available-for-selection .checkers-board__figure,
.checkers-board .checkers-board__square.highlighted .checkers-board__figure {
    padding: 4px;
}

.checkers-board .checkers-board__square.available-for-selection {
    background-color: hsl(209, 30%, 26%);
}

.checkers-board .checkers-board__square.available-for-selection:hover,
.checkers-board .checkers-board__square.available-for-selection:focus,
.checkers-board .checkers-board__square.available-for-selection:active {
    background-color: hsl(219, 55%, 60%);
}

.checkers-board .checkers-board__square.available-for-moving {
    background-color: hsl(55, 35%, 74%);
}

.checkers-board .checkers-board__square.available-for-moving:hover,
.checkers-board .checkers-board__square.available-for-moving:focus,
.checkers-board .checkers-board__square.available-for-moving:active {
    background-color: hsl(55, 28%, 83%);
}

.checkers-board .checkers-board__square.available-for-moving.selected {
    background-color: hsl(160, 71%, 41%);
}

/* Iphone XR */
@media only screen and (max-width : 414px) {
    .checkers-board .checkers-board__figure {
        padding: 2px;
    }

    .checkers-board .checkers-board__square.available-for-selection .checkers-board__figure,
    .checkers-board .checkers-board__square.highlighted .checkers-board__figure {
        padding: 1px;
    }
}