.player-section {
    min-height: 384px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    gap: 20px;
    border: 1px solid #000;
}

.player-section.black {
	background-color: hsl(220, 34%, 58%);
}

.player-section.white {
	background-color: hsl(53, 100%, 95%);
}

.player-section__title {
    font-size: 20px;
}

.player-section__list {
    list-style-type: none;
    display: block;
    font-size: 0;
    width: calc(64px * 4);
}

.figure {
    padding: 5px;
    width: 25%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}

.figure__logo-wrap {
    position: relative;
}

.figure__logo-wrap.is-dame::after {
    display: block;
    position: absolute;
    top: 15%;
    left: 15%;
    content: '';
    width: 70%;
    height: 70%;
    background-image: url('/src/assets/metal-crown.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.figure__logo-wrap.is-dame .figure__logo {
    opacity: 0.9;
}

/* Laptop small */
@media only screen and (max-width : 1280px) {
    .player-section {
        max-width: 500px;
        width: 100%;
        min-height: 150px;
    }

    .player-section__list {
        width: 100%;
    }

    .figure {
        width: 16.66%;
    }
}

/* Iphone XR */
@media only screen and (max-width : 414px) {
    .player-section {
        min-height: 144px;
    }
}