.game-board-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .restart-btn {
        margin-top: 20px;
    }
}

.game-board-wrap {
    padding: 20px;
    background-color: hsl(0, 0%, 0%);
    border-radius: 50px;
}

.game-board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 32px;
}

.game-board-result {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(160, 71%, 41%);
    color: hsl(0, 0%, 0%);
    font-size: 26px;

    &__winner {
        font-size: 32px;
    }
}

/* Laptop small */
@media only screen and (max-width : 1280px) {
	.game-board-outer  {
        .restart-btn {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 640px) {
	.game-board {
        width: calc(60px * 8);
        height: calc(60px * 8);
    }
}

/* HTC One */
@media only screen and (max-width : 540px) {
	.game-board {
        width: calc(52px * 8);
        height: calc(52px * 8);
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.game-board {
        width: calc(46px * 8);
        height: calc(46px * 8);
    }
}

/* Iphone 14 Pro Max */
@media only screen and (max-width : 430px) {
	.game-board {
        width: calc(44px * 8);
        height: calc(44px * 8);
    }
}

/* Iphone XR */
@media only screen and (max-width : 414px) {
    .game-board-wrap {
        padding: 15px;
        border-radius: 35px;
    }

	.game-board {
        width: calc(42px * 8);
        height: calc(42px * 8);
        border-radius: 20px;
    }

    .game-board-outer {
        .btn-wrap,
        .restart-btn {
            width: 100%; 
        }
    }
}

/* Iphone 12 Pro */
@media only screen and (max-width : 390px) {
	.game-board {
        width: calc(40px * 8);
        height: calc(40px * 8);
    }
}

/* Iphone SE */
@media only screen and (max-width : 375px) {
	.game-board {
        width: calc(38px * 8);
        height: calc(38px * 8);
    }
}
