.checkers-board-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.checkers-board-outer .reload-btn {
    margin-top: 20px;
}

.checkers-board-wrap {
    padding: 20px;
    background-color: hsl(0, 0%, 0%);
    border-radius: 50px;
}

.checkers-board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 32px;
}

.checkers-board .checkers-board__square {
    padding: 5px;
    width: 12.5%;
    height: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    pointer-events: none;
    box-sizing: border-box;
    border: 1px solid hsl(0, 0%, 0%);
}

.checkers-board .checkers-board__square.dark {
    cursor: pointer;
    pointer-events: unset;
}

.checkers-board .checkers-board__square.available-for-selection {
    background-color: hsl(25, 34%, 33%);
}

.checkers-board .checkers-board__square.available-for-moving {
    background-color: hsl(215, 65%, 90%);
}

.checkers-board .checkers-board__figure {
    position: relative;
}

.checkers-board .checkers-board__square.available-for-moving.selected,
.checkers-board .checkers-board__square.selected:has(img) {
    background-color: hsl(160, 71%, 41%);
}

/* Small Devices, Tablets */
@media only screen and (max-width : 640px) {
	.checkers-board {
        width: calc(60px * 8);
        height: calc(60px * 8);
    }
}

/* HTC One */
@media only screen and (max-width : 540px) {
	.checkers-board {
        width: calc(52px * 8);
        height: calc(52px * 8);
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.checkers-board {
        width: calc(46px * 8);
        height: calc(46px * 8);
    }
}

/* Iphone 14 Pro Max */
@media only screen and (max-width : 430px) {
	.checkers-board {
        width: calc(44px * 8);
        height: calc(44px * 8);
    }
}

/* Iphone XR */
@media only screen and (max-width : 414px) {
    .checkers-board-wrap {
        padding: 15px;
        border-radius: 35px;
    }

	.checkers-board {
        width: calc(42px * 8);
        height: calc(42px * 8);
        border-radius: 20px;
    }

    .checkers-board .checkers-board__square {
        padding: 2px;
    }
}

/* Iphone 12 Pro */
@media only screen and (max-width : 390px) {
	.checkers-board {
        width: calc(40px * 8);
        height: calc(40px * 8);
    }
}

/* Iphone SE */
@media only screen and (max-width : 375px) {
	.checkers-board {
        width: calc(38px * 8);
        height: calc(38px * 8);
    }
}

/* Galaxy S8+ */
@media only screen and (max-width : 360px) {
    /**/
}
